# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/

# NBFT.tex
Improved_Fault-Tolerant_Consensus_Based_on_the_PBFT_Algorithm.pdf
debug_nbft.py 
notes.txt

